{{#if name}}
    <h2>Hi {{name}},</h2>
{{/if}}
<h2>{{compliment}}</h2>

<form action="/" method="post">
    <label>Input your own compliment</label>
    <input type="text" name="name">
    <input type="submit">
</form>